<h1>The Six Bloodlines</h1>
<article>
  <h1>Hope's Bloodline</h1>
  <p>
    The most auspicious of the six Bloodlines.  Hope's people have created vast cities that are hidden from the rest of the world; the last city being Aurora, which was located in France.  This Bloodline is believed to be the second largest and the most known among the other Bloodlines.  One of Hope's Blood Powers, the gift of prophecy, insight, and visions allows their Bloodline to be actively fighting both Fear's, Weakness's, and Hate's Bloodlines.  In the past, they have used this to their advantage to manipulate foreign affairs away from the influence of the Wicked Bloodlines.
  </p>
</article>
<article>
  <h1>Fear's Bloodline</h1>
  <p>
    The most frightening of all the Bloodlines; Fear's Blood is also the most mysterious and least known.  Often times, those gifted with Blood Powers use their abilities of mental manipulation for complete personal gain.  While little is known about their Blood, many believe that those of this descent have been the cause behind past wars, including World War I and II.  The other Bloodlines have more aptly named these secret agents of Fear Deceivers.  In fact, it was the cooperation of both Guardians and a Hero that saved the world from entering another World War during the Cuban Missile Crisis.
  </p>
</article>
<article>
  <h1>Strength's Bloodline</h1>
  <p>
    The smallest of the Bloodlines.  Strength's Blood has been singled out by Hate's Descendents because of an ancient grudge, one that's origins have been debated over the years.  Those of Strength's Blood are nearly as secretive as those of Fear's though for different reason.  Those blessed with Strength's Blood Power attract the attention of Hate's Bloodline and often are greeted with premature death.
  </p>
</article>
<article>
  <h1>Weakness's Bloodline</h1>
  <p>
    The largest of all the Bloodlines.  Weakness's Descendents come in many forms, and those with Blood Powers have in history been the inspirations for creatures of myth and folklore like centaurs, mermaids, and werewolves.
  </p>
</article>
<article>
  <h1>Love's Bloodline</h1>
  <p>
    The kindest of the Bloodlines.  Love has used her power to assist the needy and lest fortunate, moving to places of poverty and destruction to help rebuild and heal.
  </p>
</article>
<article>
  <h1>Hate's Bloodline</h1>
  <p>
    Known collectively as the Murderers.  This is the Blood that never forgives.  Since the birth of humanity, Hate's Descendents have been sworn enemies of Strength's Blood, although the reason for why has been depleted over the years, replaced instead with countless myths.  Hate's Blood have slaughtered so many of Strength's Descendents that they've caused their near extinction.
  </p>
</article>