<p class="text">
  <em>
    “Who are ‘they’?” asked Abby.
  </em>
</p>
<p class="text">
  <em>
    “There are six of them, and ’they’ are powerful creatures. The very fabric of their being is literally intertwined into the space and time that exists within the universe of Niburu. With one thought, they can create or destroy. You can call ‘them’ many things. Aliens. Spirits. 
  </em>
</p>
<p class="text">
  <em>
    “But we choose to call ‘them’ Gods…”
  </em>
</p>
<p class="text">
  <em>
    Abby suddenly felt a lump begin to grow in the pit of her stomach.
  </em>
</p>
<!--
<p>
  Ever since Abby's parents died, Sunny has always been Abby's rock and only friend.  Then, in one fateful night, everything changes...  The world they once knew is no longer the same.
</p>
<p>
  For Earth is just a game, and the players are Gods from another universe.  The pieces... are everyone in it.
</p>
-->