<!DOCTYPE html>
<html>
<head>
  <title>Bloodborn</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<h1>THE BLOODBORN SERIES</h1>
<h2 class="subtitle">When the Gods return once again, they intend to finish the game they started.</h2>
<%= yield %>

</body>
</html>
